@font-face {
    font-family: 'beermoney';
    src: url('../fonts/beermoney.woff2') format('woff2'),
        url('../fonts/beermoney.woff') format('woff'),
        url('../fonts/beermoney.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

